In [7]:
import pandas as pd
import numpy as np
import math

In [9]:
reports_path = "H:\\Python_code\\lek\\input_day2\\reports.xlsx"
reports = pd.read_excel(reports_path, header=None)

reports.head()

    0   1   2   3   4     5     6     7
0  31  34  36  38  40  43.0  46.0  44.0
1  67  68  70  72  74  77.0  79.0  79.0
2  32  35  36  38  42   NaN   NaN   NaN
3  18  21  22  24  27  30.0  35.0   NaN
4  63  66  67  66  69  72.0   NaN   NaN

In [15]:
reports_list = reports.values.tolist()
#print(reports_list)

In [ ]:
ok_reports =  []

for report in reports_list:
    decreasing = True
    for level in range(len(report)):
        if report[level+1]-report[level]<0:
            decreasing = True
        if not decreasing: